<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ProjetoDw2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>insereADM</servlet-name>
    <servlet-class>serv.incluir.Iadministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insereADM</servlet-name>
    <url-pattern>/administrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supervisor</servlet-name>
    <servlet-class>serv.incluir.ISupervisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supervisor</servlet-name>
    <url-pattern>/supervisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usuario</servlet-name>
    <servlet-class>serv.incluir.IUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usuario</servlet-name>
    <url-pattern>/usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>empresa</servlet-name>
    <servlet-class>serv.incluir.IEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empresa</servlet-name>
    <url-pattern>/empresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginadm</servlet-name>
    <servlet-class>serv.incluir.login_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginadm</servlet-name>
    <url-pattern>/loginadm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginemp</servlet-name>
    <servlet-class>serv.incluir.login_empresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginemp</servlet-name>
    <url-pattern>/loginemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginsup</servlet-name>
    <servlet-class>serv.incluir.login_supervisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginsup</servlet-name>
    <url-pattern>/loginsup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginusu</servlet-name>
    <servlet-class>serv.incluir.login_usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginusu</servlet-name>
    <url-pattern>/loginusu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>enviarcrl</servlet-name>
    <servlet-class>serv.incluir.enviar_crl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enviarcrl</servlet-name>
    <url-pattern>/enviarcrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>empresacrl</servlet-name>
    <servlet-class>serv.incluir.empresa_crl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empresacrl</servlet-name>
    <url-pattern>/empresacrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pesquisacrl</servlet-name>
    <servlet-class>serv.incluir.pesquisa_crl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pesquisacrl</servlet-name>
    <url-pattern>/pesquisacrl</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>pesquisavg</servlet-name>
  <servlet-class>serv.incluir.pesquisa_vg</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>pesquisavg</servlet-name>
  <url-pattern>/pesquisavg</url-pattern>
  </servlet-mapping>
</web-app>